# Environment & IDE
.env
.venv/
env/
venv/
.idea/
.vscode/

# Python Cache & Compiled Files
__pycache__/
*.py[cod]

# Database & Media Uploads
db.sqlite3
media/

# OS System Files
.DS_Store
Thumbs.db
